[submodule "source/Revit.Async"]
	path = source/Revit.Async
	url = https://github.com/PhanCongVuDuc/Revit.Async.git
	branch = master
[submodule "source/EasyRibbon"]
	path = source/EasyRibbon
	url = https://github.com/PhanCongVuDuc/EasyRibbon.git
	branch = main
[submodule "source/SonnyRevitExtensions"]
	path = source/SonnyRevitExtensions
	url = https://github.com/PhanCongVuDuc/SonnyRevitExtensions.git
	branch = master